/*
 * Copyright © 2020. Spectrollay
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

.btn_group {
    align-items: center;
    display: flex;
    justify-content: center;
}

.coming_soon-img {
    height: 80px;
}

.notice_img {
    width: 280px;
}

.sidebar {
    background-color: #313233;
    border-right: 2px solid #1E1E1F;
    display: flex;
    font-family: "NotoSans Bold", sans-serif;
    height: 100%;
    left: -240px; /* NOTE 侧边栏的显示宽度 */
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    transition: left 0.6s, width 0.6s;
    width: 238px; /* NOTE 侧边栏的宽度 */
    z-index: 10;
}

.tab_sidebar.no_active {
    display: none;
}

.tab_sidebar.active {
    display: block;
}

.sidebar.old { /* TODO 旧页面完成迭代后移除 */
    height: calc(100% - 44px);
    position: fixed;
    top: 44px;
}

@media screen and (min-width: 1200px) {
    .sidebar.new {
        left: 0 !important;
    }

    .sidebar.old { /* TODO 旧页面完成迭代后移除 */
        left: -240px; /* NOTE 侧边栏的显示宽度 */
    }
}
.secondary_scroll_container {
    height: 100%;
    top: 0;
    width: 100%;
}

.secondary_scroll_container.old { /* TODO 旧页面完成迭代后移除 */
    height: calc(100% - 44px);
    top: 44px;
    width: 240px; /* NOTE 侧边栏的显示宽度 */
}

.sidebar a {
    box-shadow: unset;
    text-decoration: none;
}

.sidebar_content {
    width: auto;
}

.sidebar_list {
    border-top: 2px solid #454647;
}

.sidebar_header {
    align-items: center;
    border-bottom: 2px solid #000000;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    width: 100%;
}

.sidebar_list {
    border-bottom: 2px solid #000000;
}

.sidebar_item {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    height: 40px;
    padding-left: 10px;
}

.sidebar_detail_title {
    font-family: "Minecraft Ten", sans-serif;
    font-size: 20px;
    margin: 6px 0;
    min-height: 30px;
    text-align: center;
}

.sidebar_detail_title, .sidebar_detail {
    align-items: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.sidebar_detail {
    font-size: 14px;
    height: 24px;
    margin-bottom: 24px;
}

.sidebar_info {
    border-top: 2px solid #454647;
}

.sidebar_item:hover, .sidebar_item:active {
    background-color: #67686A;
}

@media screen and (min-width: 1200px) {
    .overlay_main.new { /* TODO 旧页面完成迭代后移除 */
        display: none !important;
    }
}

.title1, .title2, .title3, .description1, .description2 {
    color: #FFFFFF;
}

.title1, .title2, .title3 {
    align-items: center;
    display: flex;
    font-weight: unset;
    justify-content: center;
    margin: 4px 0;
}

.title1 {
    font-family: "Minecraft Seven", sans-serif;
    font-size: 26px;
}

.title2 {
    font-family: "Minecraft Seven", sans-serif;
    font-size: 23px;
}

.title3 {
    font-family: "Minecraft Seven", sans-serif;
    font-size: 20px;
}

.description {
    text-align: left;
}

.description p {
    text-indent: 2em;
}

.description img {
    width: 100%;
}

.description1 {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 18px;
    margin: 4px 0;
    text-align: center;
}

.description2 {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 16px;
    margin: 8px;
}

.descriptionl {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 16px;
    margin: 8px;
    text-align: left;
}

.description3 {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 14px;
    margin-top: 4px;
    width: 80px;
}

.header_notice_title, .choose_edition_title, .footer_notice_title {
    font-size: 28px;
}

.header_notice_body, .footer_notice_body {
    justify-content: center;
}

.repository_logo_area {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 16px;
}